script.R
README.html
.Rproj.user
.Rhistory
.clangd/
cpp4rtest/compile_commands.json
cpp4rtest/src/Makevars
cpp4rtest/src/*.o
cpp4rtest/src/*.so
compile_flags.txt
inst/doc
vignettes/*_cache
compile_commands.json
revdep/*/
talk/
TAGS
.cache/
/doc/
/Meta/
.vscode
.cache
softwarex-article
dev/cpp11
cpp4rtest-check.log
